nav a {
    font-family: 'Instrument Serif', serif;
    font-size: x-large;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

nav a:last-child {
    margin-right: 0;
}

nav {
    text-align: center;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 170px;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    color: white;
    padding: 15px 10px;
    border: none;
}

h1 {
    margin-bottom: 5px;
}

.welcome {
    margin-top: 5px;
}

.text-block {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

.text-block-aboutme {
    max-width: 325px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

.text-block h2 {
    margin-bottom: 10px; 
}

.text-block p {
    margin-bottom: 20px; 
    line-height: 1.6;
}
    
    
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.mainphoto {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Adjust margin as needed */
}      

footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto;
}
.black-and-white {
    filter: grayscale(100%);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between items */
    padding: 20px; /* Adjust the container padding */
}

.grid-item {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* Adjust item width */
    background-color: #ddd; /* Background color of items */
    padding: 20px; /* Adjust item padding */
    border-radius: 10px; /* Adjust item border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Item shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
    overflow: hidden; /* Hide overflowing content */
}

/* Adjust the size of the grid items to be squares */
.grid-item::before {
    content: "";
    display: block;
    padding-top: 100%; /* Aspect ratio: 1:1 (square) */
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.text-overlay h3,
.text-overlay p {
    margin: 0;
    color: white;
}
.caption {
    font-size: smaller;
}

.grid-item {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* Adjust item width */
    height: 500px;
    width: 500px;
    background-color: #ddd; /* Background color of items */
    padding: 20px; /* Adjust item padding */
    border-radius: 10px; /* Adjust item border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Item shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
    overflow: hidden; /* Hide overflowing content */
    transition: transform 0.3s ease; /* Add transition for transform property */
}

.grid-item:hover {
    transform: scale(1.05); /* Scale the item on hover */
}