/* your styles will go here!! */
nav a {
    font-family: 'Instrument Serif', serif;
    font-size: x-large;
    color: white;
    margin-right: 20px; /* Add margin between the links */
    text-decoration: none; /* Remove underline */
}

nav a:last-child {
    margin-right: 0; /* Remove margin from the last link */
}

/* Center the navigation links */
nav {
    text-align: center;
}
h1 {
    margin-bottom: 5px; /* Reduce the margin bottom of h1 elements */
}

.welcome {
    margin-top: 5px; /* Reduce the margin top of the .welcome element */
}